.body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
  flex: 1;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

footer {
  float: bottom;
  text-align: center;
  padding: 15px;
  border-top: 1px solid #ccc;
  background:#ffff;
}

/* hero */
.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero-img{
    background-image: url('../assets/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.am {
    padding: 40px 20px;
    border-top: 1px solid #ccc;
}

.am-list {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.circle {
    width: 120px;
    height: 120px;
    border: 2px solid #444;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: #fff;
}

/* responsive */

/* tablet */
@media (max-width: 900px) {
    .navbar {
        padding: 15px 20px;
        float: center;
    }
    .nav-links {
        gap: 12px;
    }
    .hero-img {
        height: 280px;
    }
    .circle {
        width: 100px;
        height: 100px;
    }
}

/* mobile */
@media (max-width: 600px) {

    /* nav */
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    /* hero */
    .hero-img {
        width: 95%;
        height: 220px;
        font-size: 18px;
    }

    /* am */
    .am-list {
        gap: 30px;
    }
    .circle {
        width: 90px;
        height: 90px;
        font-size: 12px;
    }
}

/* buat message */
.message {
    padding: 40px 20px;
    border-top: 1px solid #ccc;
}

.msg-container {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
}

form {
    flex: 1;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

button {
    margin-top: 5px;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.msg-result {
    flex: 1;
    min-width: 260px;
    border: 1px solid #aaa;
    padding: 15px;
    background: #fff;
}