.body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

footer {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #ccc;
  background:#ffff;
}