.body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
  flex: 1;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

footer {
  float: bottom;
  text-align: center;
  padding: 15px;
  border-top: 1px solid #ccc;
  background:#ffff;
}

/* hero */
.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero-img {
    margin: 30px auto 0;
    width: 80%;
    max-width: 900px;
    height: 350px;
    border: 2px dashed #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    font-size: 24px;
}